<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Quotations</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Best Quotations</h1>
    <!-- <ul>
    <% quotes.forEach( el => { %>
            <li class='quoteItem' data-id='<%=el._id%>'>
                <!-- <span class='<%= el.completed === true ? 'completed' : 'not'%>'></span> -->
                <!-- <span><%= el.name %>: </span>
                <span><%= el.quote %></span>
                <span><%= el.upvote %></span>
                <span class='fa fa-thumbs-up'></span>
                <span class='fa fa-trash'></span>
            </li>
    <% }) %>    
    </ul> --> 

    <ul>
        <% for(let i=0; i < quotes.length; i++) {%> 
            <li class="quoteItem">
                <span><%= quotes[i].name %>: </span>
                <span><%= quotes[i].quote %></span>
                <span><%= quotes[i].upvote %></span>
                <span class='fa fa-thumbs-up'></span>
                <span class='fa fa-trash'></span>
            </li>
            <% } %>
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/quotes/createQuote" method='POST'>
        <input type="text" placeholder="Who said it" name='quotePerson'>
        <input type="text" placeholder="What they said" name='quoteItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>