<%- include('partials/header') -%>
<div class="d-flex container marginTop4 phoneDisplayFlex">
    <div>
        <ul>
        <% quotes.forEach( el => { %>
                <li class='quoteItem mb-4' data-id='<%=el._id%>'>
                    <div class="quoteText">
                        &nbsp;<span><%= el.name %>: </span>
                        <span><%= el.quote %></span>
                    </div>
                    
                        &nbsp;
                        <span><%= el.upvote %></span>
                        <span class='fa fa-thumbs-up upvote'></span>
                    
                        <span class='fa fa-trash'></span>
                    
                </li>
        <% }) %>    
        </ul> 
        
    </div>

    <div>
        <h2>Add an Awesome Quotation:</h2>
        <form action="/quotes/createQuote" method='POST'>
            <div class="marginTop4">
                <label for="whoSaidIt" class="form-label">Who Said It</label>
                <input type="text" id="whoSaidIt" name='quotePerson' class="form-control col-6 w-100" aria-label="who said it">
            </div>
            <div class="marginTop4">
                <label for="whatTheySaid" class="form-label">What They Said</label>
                <input type="text" id="whatTheySaid" name='quoteItem' class="form-control col-6 w-100" aria-label="what they said">
            </div>
            <input type="submit" id="submit" class="btn btn-light btnHover marginTop4">

            <div class="marginTop4">
                <a href="/logout" class="btn btn-light btnHover">Logout</a>
            </div>
        </form>
    </div>

    
</div>

<script src="js/main.js"></script> 

<!-- 
    <script src="js/main.js"></script>
</body>
</html> -->