<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Quotations</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- <div class="header"> -->
        <h1>Only the Best Quotations</h1>
    <!-- </div> -->

    <div class="quotes">
        <ul>
        <% quotes.forEach( el => { %>
                <li class='quoteItem' data-id='<%=el._id%>'>
                    <!-- <span class='<%= el.completed === true ? 'completed' : 'not'%>'></span> -->
                    <div class="quoteText">
                        &nbsp;<span><%= el.name %>: </span>
                        <span><%= el.quote %></span>
                    </div>
                    
                        &nbsp;<span><%= el.upvote %></span>
                        <span class='fa fa-thumbs-up'></span>
                    
                        <span class='fa fa-trash'></span>
                    
                </li>
        <% }) %>    
        </ul> 
        <div class="logout">
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div class="addQuotation">
        <h2>Add an Awesome Quotation:</h2>
        <form action="/quotes/createQuote" method='POST'>
            <input type="text" id="whoSaidIt" placeholder="Who said it" name='quotePerson'>
            <input type="text" id="whatTheySaid" placeholder="What they said" name='quoteItem'>
            <input type="submit" id="submit">
        </form>
    </div>

    <!-- <h2><%= user.userName %> has <%= left %> things left to do.</h2> -->


    <script src="js/main.js"></script>
</body>
</html>